<% 
current_page.data.canonical_path = current_article.data.canonical_path if current_article.data.canonical_path
current_page.data.disable_default_styles = true 
current_page.data.slippers = true
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
    <% if current_page.data.postType %>
      <script>
        dataLayer.push({'postType': '<%= current_page.data.postType %>'});
      </script>
    <% end %>
    <% if current_page.data.tags %>
      <script>
        dataLayer.push({'tags': '<%= current_page.data.tags.split(", ") %>'});
      </script>
    <% end %>
    <% if current_page.data.categories %>
      <script>
        dataLayer.push({'category': '<%= current_page.data.categories %>'});
      </script>
    <% end %>
    <body data-spy="scroll" data-target=".qnav">
      <%= partial "includes/google/gtm" %>
      <%= partial "includes/layout/header" %>
      <%= yield %>
      <%= partial "includes/newsletter-signup.html" %>
      <%= partial "includes/blog/try" %>
      <%= partial "includes/layout/footer" %>
      <%= partial "includes/features/gitlab-ee-trial" %>
    </body>
  </head>
</html>
